<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">

  <listeners>
	<listener class-name= "api.utilities.ExtentReportsManager" />
  </listeners>

  <test thread-count="5" name="Test">
    <classes>
      <!--<class name="api.test.UserTests"/> -->
      <!--<class name="api.test.UserTests2"/> -->
      <!--<class name="api.test.StoreTests1"/> -->
      <!--<class name="api.test.StoreTests2"/> -->
      <class name="api.test.PetsTests1"/>
      <!--<class name="api.test.PetsTests2"/> -->
      <!--<class name="api.test.UserDataDrivenTests"/> -->
      <!-- <class name="api.test.StoreDataDrivenTests"/> -->
    </classes>
  </test> 
</suite> 
